.background-container {
  display: flex;
  background-image: url('/assets/shared/icone.jpg'); /* Ajuste o caminho conforme necessário */
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: local;
  height: 150vh; /* Ajuste conforme necessário para cobrir a altura da tela */
  align-items: center;


}

