<p></p>
<mat-card>
  <mat-toolbar color="primary">Sobre o Sistema</mat-toolbar>
  <p></p>
  <div align="left">
    O sistema será utilizado nas marinas para que se tenha um controle de cliente, agendamento, embarcações e itens de checklists de embarcações.
    Sendo assim, o proprietário da embarcação ira solicitar a saída em uma determinada data e dentro de um prazo,
    o funcionário responsável deverá fazer as manutenções solicitadas conforme descritas nos itens do checkList.
     Neste contexto, estaremos reduzindo os problemas ocorridos em alto mar devido a uma verificação mínima dos itens na embarcação.
  </div>
  <p></p>
  <br>
    <div align="left">
    <b>Requisitos Funcionais:</b><br>
      <li>Deve permitir inserção de clientes e vincular embarcações;</li>
      <li>Deve permitir o registro de uma agenda para uma determinada embarcação do cliente;</li>
      <li>Inserção automática de CheckList da embarcação que foi agendada;</li>
      <li>Em todas as interações : Inclusao, Exclusao e Edição;</li>
      <li>Administração dos Usuarios, sendo atualmente possivel registrar um novo usuário;</li>
    </div>
    <br>
    <div  align="left" >
    <b>Requisitos Não Funcionais:</b><br>
    <li>Sistema de fácil utilização;</li>
    <li>Tempo de resposta rápido nas operações ou imediato;</li>
    <li>Ser apto à mudanças de regras de negócio ou design;</li>
  </div>
</mat-card>
