<mat-card>

  <mat-toolbar color="primary">Detalhes da Embarcação</mat-toolbar>

    <mat-card-content>
    <form [formGroup]="form"  class="min-width">
      <mat-form-field class="full-width" >
        <input matInput placeholder="Nome Embarcação" formControlName="nm_embarc">
      </mat-form-field>

      <mat-form-field class="full-width" >
        <input matInput placeholder="Reg Marinha" formControlName="nrmarinha_embarc">
      </mat-form-field>

      <mat-form-field class="full-width" >
        <input matInput placeholder="Cliente" formControlName="cliente_id">
      </mat-form-field>

      <mat-form-field class="full-width" >
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="tipo_embarc" >
          <mat-option value="null"> </mat-option>
          <mat-option value="1">Barco</mat-option>
          <mat-option value="2">Navio</mat-option>
          <mat-option value="3">Iate</mat-option>
          <mat-option value="4">Caiaque</mat-option>
          <mat-option value="5">Jetski</mat-option>
          <mat-option value="6">Bote</mat-option>
        </mat-select>
      </mat-form-field>


    </form>
  </mat-card-content>

  <mat-card-actions >
    <button  mat-raised-button color="primary" (click)="onSubmit()"   matTooltip="Pressione para Salvar"    >Salvar</button>
    <button  mat-raised-button   (click)="onCancel()"     matTooltip="Pressione para Cancelar"    >Cancelar</button>
  </mat-card-actions>


</mat-card>
